@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

*{
    margin: 0;
    padding: 0;
}

.fundo{
    background-image: linear-gradient(45deg, black, rgb(10, 107, 152));
    height: 100vh;
    color: white;
    font-family: 'Patrick Hand', cursive;
    text-align: center;
}

.calculadora{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 25px;
    box-shadow: 10px 10px 10px black;
}

.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(31, 31, 31);
    border: none;
    color: white;
    margin: 3px;
}

.botao:hover{
    background-color: black;
}

.igual{
    height: 106px;
}

.zero{
    width: 106px;
}

#resultado{
    font-size: 25px;
    width: 207px;
    height: 30px;
    margin: 5px;
    background-color: white;
    color: black;
    text-align: right;
    padding: 5px;
}